<footer>
  <div class="footer-content">
    <div class="footer-bottom">
        <div class="footer-logo">
            <img src="images/constant-wave.svg" alt="Constant Wave Technologies Logo">
        </div>
        <div style="font-family: 'Manrope', sans-serif; font-size: 24px; color: white;">Constant Wave</div>
        <div style="font-family: 'Manrope', sans-serif; font-size: 16px; color: white;">Technologies</div>
        <div class="social-links">
            <a href="mailto:support@constantwave.com">
                <img src="images/mail.svg" alt="Mail" width="24" height="24">
            </a>
            <a href="https://twitter.com/constantwave">
                <img src="images/twitter.svg" alt="Twitter" width="24" height="24">
            </a>
            <a href="https://instagram.com/constantwave">
                <img src="images/instagram.svg" alt="Instagram" width="24" height="24">
            </a>
            <a href="https://facebook.com/constantwave">
                <img src="images/facebook.svg" alt="Facebook" width="24" height="24">
            </a>
        </div>
        <div class="footer-links">
            <span style="width: 200px; text-align: right;"><a href="/privacy-policy">Privacy Policy</a></span>
            <span>|</span>
            <span style="width: 200px; text-align: left;"><a href="/terms-and-conditions">Terms and Conditions</a></span>
        </div>
        <p>&copy; 2024 Constant Wave Technologies. All rights reserved.</p>
    </div>
  </div>
</footer>
