<header class="site-header">
  <div class="wrapper">
    <nav>
      <div class="nav-home">
        <div class="nav-logo">
          <a href="/" style="text-decoration: none;">
            <img src="images/constant-wave.svg" alt="Constant Wave Technologies Logo">
          </a>
        </div>
        <div>
          <a href="/" style="text-decoration: none;">
            <div class="nav-text logo-large">Constant Wave</div>
            <div class="nav-text logo-small">Technologies</div>
          </a>
        </div>
      </div>
      <div class="hamburger" onclick="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <div class="links">
        <ul>
          <li><a href="/games" style="text-decoration: none;">Games</a></li>
          <li><a href="/team" style="text-decoration: none;">Team</a></li>
          <li><a href="/contact" style="text-decoration: none;">Support & Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<script>
  function toggleMenu() {
    const links = document.querySelector('.links');
    links.style.display = links.style.display === 'flex' ? 'none' : 'flex';
  }
</script>