<div style="text-align: center; background-image: url('{{site.baseurl | append: "/"}}images/quuwords.svg'); background-size: contain; background-repeat: no-repeat; background-position: center; height: 60vh; display: flex; flex-direction: column; justify-content: flex-end;">
    <div style="margin-bottom: 20px;">
      <a href="https://apps.apple.com/us/app/quuords/id6737609238" style="display: inline-block; padding: 10px 20px; background-color: #007aff; color: white; text-decoration: none; border-radius: 5px;">Play now</a>
    </div>
  </div>