<div style="text-align: center; background-image: url('{{site.baseurl | append: " /"}}images/wordbusters-banner.png');
  background-size: cover; background-repeat: no-repeat; background-position: center; height: 32vh; display: flex;
  flex-direction: column; justify-content: flex-start; align-items: flex-end; margin-bottom: 32px;">
  <div style="margin: 8px">
    <a href="https://apps.apple.com/us/app/wordbusters/id6737838684"
      style="display: inline-block; padding: 10px 20px; background-color: #007aff; color: white; text-decoration: none; border-radius: 5px;">Play
      now</a>
  </div>
</div>