.team-members {
  $image-size: 180px;

  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  gap: $spacing-unit * 2;

  img {
    width: $image-size;
    height: $image-size;
    border-radius: 50%;
  }

  li {
    display: flex;
    align-items: center;
    gap: $spacing-unit * 2;

    @include media-query($on-palm) {
      flex-direction: column;
      gap: $spacing-unit;
    }
  }

  dt {
    @include relative-font-size(1.5);
    font-weight: 500;
  }
}
