.site-header {
  $mid-size: 800px;

  background-color: $header-background-color;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
  }

  .nav-logo {
    display: block;

    @media screen and (max-width: $mid-size) {
      svg {
        width: 180px;
      }
    }

    @include media-query($on-palm) {
      svg {
        width: inherit;
      }
    }
  }

  .hamburger {
    display: none;
    height: $header-height;
    line-height: $header-height;
    padding: 0 $spacing-unit * 0.5;

    svg {
      vertical-align: middle;
    }

    @include media-query($on-palm) {
      display: block;
    }
  }

  ul {
    display: flex;
    gap: $spacing-unit;
    list-style: none;
    margin: 0;
    @include relative-font-size(1.25);

    @media screen and (max-width: $mid-size) {
      gap: 0;
      @include relative-font-size(1.1);
    }

    a {
      display: block;
      line-height: $header-height;
      color: $text-color;
      padding: 0 $spacing-unit * 0.5;

      &:hover {
        background-color: $grey-color-light;
        text-decoration: none;
      }
    }

    @include media-query($on-palm) {
      display: none;
      position: absolute;
      top: $header-height;
      left: 0;
      width: 100%;
      background-color: $header-background-color;
      flex-direction: column;
      gap: 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

      a {
        padding: $spacing-unit $spacing-unit * 0.5;
        display: block;
        line-height: inherit;
      }
    }
  }

  .languages {
    $flag-size: 24px;

    display: flex;
    align-items: center;

    @include media-query($on-palm) {
      margin-bottom: $spacing-unit;
    }

    a {
      text-align: center;
      width: $flag-size + $spacing-unit * 0.25;
      height: $flag-size + $spacing-unit * 0.25;
      line-height: $flag-size + $spacing-unit * 0.25;
      padding: $spacing-unit * 0.25;
      opacity: 0.4;
      border-radius: 50%;

      &:hover,
      &.active {
        opacity: 1;
      }

      @include media-query($on-palm) {
        padding: $spacing-unit * 0.5;
      }
    }

    img {
      width: $flag-size;
      height: $flag-size;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 2px;
    }
  }
}

.site-footer {
  background-color: $footer-background-color;
  text-align: center;
  padding: $spacing-unit * 6 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer-logo {
    margin-bottom: $spacing-unit;
  }

  .social-links {
    display: flex;
    gap: $spacing-unit;
    margin-bottom: $spacing-unit;
  }

  .footer-links,
  p {
    color: #666;
  }

  .footer-links {
    a {
      color: #666;
      padding: 0 $spacing-unit * 0.5;
    }
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit * 2 0 $spacing-unit * 4;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
