---
layout: default
---
{% assign l10n = site.data[site.active_lang].l10n.game %}
<div class="wrapper">
  <header class="page-header">
    <h1>{{ page.name | escape }}</h1>
    <h2>{{ page.subtitle | escape }}</h2>
    <p>{{ page.description | escape }}</p>
  </header>

  <img src="{{ page.banner }}" alt="{{ page.name }}" class="game-banner">

  <div class="game-content">
    {{ page.content }}
  </div>

  <h4>{{ l10n.screenshots }}</h4>

  {% if page.screenshots %}
  {% for entry in page.screenshots %}
  {% assign key = entry[0] %}
  {% assign items = entry[1] %}
  {% assign key_class = key | replace: "_", "-" %}
  <ul class="screenshots {{ key_class }}">
    {% for screenshot in items %}
    <li>
      <img src="{{ site.baseurl | append: screenshot }}" alt="{{ page.name }} Screenshot">
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
  {% endif %}

  <h4>{{ l10n.stores }}</h4>

  <ul class="stores">
    {% if page.googleplay %}
    <li>
      <a href="{{ page.googleplay }}" {% if page.googleplay=="#" %}disabled aria-disabled="true" {% endif %}>
        <img src="{{site.baseurl | append: '/'}}images/googleplay.svg" alt="Download {{ page.name }} on Google Play">
      </a>
    </li>
    {% endif %}
    {% if page.appstore %}
    <li>
      <a href="{{ page.appstore }}" {% if page.appstore=="#" %}disabled aria-disabled="true" {% endif %}>
        <img src="{{site.baseurl | append: '/'}}images/appstore.svg" alt="Download {{ page.name }} on the App Store">
      </a>
    </li>
    {% endif %}
    {% if page.steamstore %}
    <li>
      <a href="{{ page.steamstore }}" {% if page.steamstore=="#" %}disabled aria-disabled="true" {% else %}target="_blank" rel="noopener noreferrer"{% endif %}>
        <img src="{{site.baseurl | append: '/'}}images/steam.svg" alt="Get {{ page.name }} on Steam">
      </a>
    </li>
    {% endif %}
  </ul>

  {% if page.soundcloud %}
  <h4>{{ l10n.soundcloud }}</h4>

  <ul class="game-links">
    <li>
      <a href="{{ page.soundcloud }}" target="_blank" rel="noopener noreferrer" title="SoundCloud">
        <img src="{{ site.baseurl | append: '/' }}images/soundcloud.svg" alt="SoundCloud" width="24" height="24">
      </a>
    </li>
  </ul>
  {% endif %}

  <h3>{{ l10n.more_games }}</h3>

  {% assign games = site.games | where_exp: "game", "game.page_id != page.page_id" | sort: 'order' | reversed %}
  {% include game-cards.html %}

</div>
